---
import "@/styles/global.css";

import { GOOGLE_ANALYTICS_ID } from "astro:env/client";
import { joinURL, normalizeURL } from "ufo";

import GoogleAnalytics from "@/components/GoogleAnalytics.astro";

export interface Props {
	title?: string;
	description?: string | null;
	ogImage?: string;
	ogImageType?: "large" | "small";
	class?: string;
}

const url = normalizeURL(Astro.site?.toString() ?? "");

const {
	title,
	description,
	ogImage,
	ogImageType,
	class: className,
} = Astro.props;

const titleText = title ? `${title} - blog.s2n.tech` : "blog.s2n.tech";
const descriptionText =
	description !== undefined
		? description
		: description !== null
			? "@shun_shobonのブログです。フロントエンドを中心に、様々な話題について好き勝手に書いています。"
			: null;
const ogImageUrl = ogImage
	? joinURL(url, ogImage)
	: joinURL(url, "og-image.png");
const twitterCard = ogImageType === "large" ? "summary_large_image" : "summary";
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{titleText}</title>
		{
			descriptionText !== null && (
				<meta name="description" content={descriptionText} />
			)
		}

		<link rel="icon" href="/favicon-256.png" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/manifest.webmanifest" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link
			rel="alternate"
			type="application/rss+xml"
			href={new URL("/rss.xml", Astro.site)}
		/>
		<link rel="canonical" href={new URL(Astro.url.pathname, Astro.site).href} />

		<meta property="og:title" content={titleText} />
		{
			descriptionText !== null && (
				<meta property="og:description" content={descriptionText} />
			)
		}
		<meta property="og:url" content={url} />
		<meta property="og:image" content={ogImageUrl} />
		<meta property="twitter:card" content={twitterCard} />

		<meta property="og:type" content="website" />

		{GOOGLE_ANALYTICS_ID && <GoogleAnalytics id={GOOGLE_ANALYTICS_ID} />}

		<slot name="head" />
	</head>
	<body
		class:list={[
			"min-h-svh leading-normal text-text-primary antialiased autospace-on interpolate-keywords",
			className,
		]}
	>
		<slot />
	</body>
</html>
